# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

#export PATH=$PATH:~/bin
export PATH=$PATH:"/Applications/Visual Studio Code.app/Contents/Resources/app/bin"
export GOPATH=$HOME/Documents/env/golib
export GOBIN=$GOPATH/bin
export GOPATH=$GOPATH:$HOME/Documents/env/go


