zsh/.config/gh/config.yml
zsh/.config/gh/hosts.yml
zsh/.config/zsh/.zshrc.zwc
zsh/.config/zsh/.zsh_sessions/_expiration_check_timestamp
zsh/.config/zsh/.zsh_sessions/FAAC8F9A-7648-476D-A9CF-919272AB4DBE.session
zsh/.config/zsh/.zshrc.zwc
claude/.claude/projects
claude/.claude/todos
claude/.claude/statsig
claude/.claude.json
claude/.claude/ide/*.lock
claude/.claude/shell-snapshots/*.sh
